<h2>My Movie List</h2>
<a href="/movie/create">Create New</a>

	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Release Date</th>
				<th>Genre</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
	    {{#each movies}}
	    	<tr>
	    		<td>{{title}}</td>
	    		<td>{{releasedate}}</td>
	    		<td>{{genre}}</td>
	    		<td>{{price}}</td>
	    	</tr>
	    {{/each}}
		</tbody>
	</ul>
</p>